import("raster","methods")
importFrom("graphics", "abline", "legend", "par", "plot", "points")
importFrom("stats", "as.formula", "cor", "cov", "formula", "glm",
             "mahalanobis", "predict.glm", "supsmu", "terms",
             "wilcox.test")
importFrom("utils", "combn", "data", "read.csv")
exportClasses(sdmModel, singleSpecies, multipleSpecies, SpeciesDataList, sdmEvaluate, sdmEvaluates, sdmSettings)
exportMethods(sdmData, sdm, sdmSetting, glmSetting, roc, evaluates)
exportPattern("^[[:alpha:]]+")